# Host and port for the data collector [UDP]
:collector:
  :host: 0.0.0.0
  :port: 8888

# Host and port for the REST API [TCP]
:rest:
  :host: 0.0.0.0
  :port: 8889

# ZeroMQ publisher [TCP]
:zmq:
  :host: 0.0.0.0
  :port: 8890

# Path for the metrics DB
:db: '/var/astor/astor-metrics-db'

# Verbose logging
:verbose: false
